.misc-page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .misc-page > h1 {
    margin-bottom: 10%;
    background-color: var(--white);
    padding: 20px 40px;
    border-radius: 32px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  }
  
  .misc-page > img {
    position: absolute;
    bottom: 0;
  }
  
  .misc-page-message {
    background-color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 32px;
    margin-bottom: 10%;
  }