
.navbar-register {
  width: 58.7%;
  margin: auto;
  background-color: #6870D1;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 30px;
}

.register-form {
  background-color: #8E94E0;
  margin: auto;
  width: 60%;
  height: 80vh;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.input-style-signup {
  border: none;
  border-radius: 5px;
  margin: 10px;
  margin-left: 220px;
  padding: 15px;
  width: 50%;
  box-sizing: border-box;
}

.input-style-signup select {
  width: 100%;
  margin-top: 10px;
}

#submitButton {
  background-color: #6870D1;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
  padding: 15px;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginPara {
  margin-top: 20px;
  color: white;
  text-align: center;
}

#signinLink {
  color: #333;
  font-weight: bold;
}
