<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(#f2f4ff 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #f2f4ff 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #f2f4ff 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1
}

:root {
  --white: white;
  --black: black;
  --mainColor: #4460F1;
  --secondaryColor: #1538ED;
  --inputColor: #EBF0F6;
  --disabledColor: #adadad;
  --adminMain: #ca33bc;
  --adminSecondary: #D55BCA;
  --adminHover: #a82a9c;
}
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
>>>>>>> main
