.application-page {
    width: 100%;
    min-height: 90vh;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .application-container {
    width: 90%;
    margin: 1% 0%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    gap: 40px;
  }
  
  .application-left, .application-middle, .application-right {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 12px;
  }
  
  .application-left {
    grid-row: 1 / 3;
  }
  
  .input-list {
    display: flex;
    flex-direction: column;
  }
  
  .input-list > input, .input-list > select, .input-list > button {
    background-color: var(--inputColor);
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    transition: 0.3s ease;
  }
  
  .input-list > select {
    border-right: 10px;
  }
  
  .input-list > input.disabled {
    background-color: var(--disabledColor);
    cursor: not-allowed;
  }
  
  .input-list > button {
    background-color: var(--secondaryColor);
    color: var(--white);
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .input-list > input[type="file"]::file-selector-button {
    background-color: var(--white);
    width: 80%;
    padding: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 18px;
    border-radius: 32px;
    cursor: pointer;
  }
  
  .input-list > input[type="file"].uploaded {
    background-color: rgb(103, 184, 103);
  }
  
  .input-list > input:focus, .input-list > select:focus{
    box-shadow: inset 0 0 0 1px var(--mainColor);
    margin: 9px;
  }i 
  
  .form-image {
    display: flex;
    margin: 10px;
  }
  
  .form-image > input {
    background-color: var(--inputColor);
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    transition: 0.3s ease;
  }
  
  .form-image > img {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 5%;
    background-color: var(--inputColor);
    /* padding-left: 20px; */
      /* margin: 10px; */
    /* height: 100px; */
  }
  
  
  .nextpage-container {
    width: 100%;
    height: 80%;
    background-color: var(--mainColor);
    border-radius: 32px;
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
  }
  
  .nextpage-container > button {
    float: right;
    padding: 10px 60px;
    font-size: 18px;
    margin: 20px;
    background-color: var(--secondaryColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
    border-radius: 32px;
    cursor: pointer;
    color: white;
  }
  
  .pages-list {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pages-list > .page-box {
    background-color: var(--secondaryColor);
    color: var(--white);
    padding: 10px 18px;
    margin: 2%;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .page-box.selected {
    background-color: var(--white);
    color: black;
  }
  
  @media only screen and (max-width: 768px) {
    .application-container {
      /* background-color: red; */
      grid-template-columns: repeat(1, auto);
    }
  
    .application-left, .nextpage-container {
      grid-column: auto;
    }
  
    .nextpage-container {
      height: 100%;
    }
  
    .application-page {
      margin-top: 26%;
    }
  }
  
  .second-page {
    width: 100%;
    min-height: 90vh;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-page-container {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 12px;
  }