.auth-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.auth-container {
  width: 70%;
  min-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
}

.auth-left {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  flex-direction: column;
}

.auth-left > h1 {
  margin: 0px 0px 60px 0px;
  color: var(--mainColor);
  font-size: 38px;
}

.auth-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.auth-form > input, .auth-form > select {
  background-color: var(--inputColor);
  border: none;
  outline: none;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.auth-form > button {
  background-color: var(--mainColor);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.auth-form > input:focus {
  /* border: 1px solid #4460F1; */
  box-shadow: inset 0 0 0 1px var(--mainColor);
  margin: 9px;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.auth-links > a {
  color: var(--mainColor);
  text-decoration: none;
}

.rise {
  animation: rise 0.5s ease-in;
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}